<!-- -----------------------------------------------------  -->
<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom-navbar-lui">
    <a class="navbar-brand-navbar-lui font-weight-bold" href="#">La Soleil CMS</a>
    
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavLui">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavLui">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link-navbar-lui" href="#">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-navbar-lui" href="#">归档</a>
            </li>
        </ul>
    </div>
</nav>
<!-- -----------------------------------------------------  -->
